In [1]:
import pandas as pd
import numpy as np

In [5]:
d = pd.read_csv("data.csv")
d

     Sky  Temp Humidity    Wind Water Forecast EnjoySport
0  Sunny  Warm   Normal  Strong  Warm     Same        Yes
1  Sunny  Warm     High  Strong  Warm     Same        Yes
2  Rainy  Cold     High  Strong  Warm   Change         No
3  Sunny  Warm     High  Strong  Cool   Change        Yes

In [6]:
arr = np.array(d)[::]
arr

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 'No'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes']],
      dtype=object)

In [13]:
attr = np.array(arr)[:,-1]
attr

array(['Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [16]:
def train(da,at):
    for i,v in enumerate(at):
        if v=="Yes":
            specific_hypothesis = da[i].copy()
            break
    for i,val in enumerate(da):
        if at[i]=="Yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x]="?"
                else:
                    pass
    return specific_hypothesis

In [17]:
train(arr,attr)

array(['Sunny', 'Warm', '?', 'Strong', '?', '?', 'Yes'], dtype=object)