In [1]:
import numpy as np
import pandas as pd

In [2]:
d = pd.read_csv("data/data.csv")
d

     Sky  Temp Humidity    Wind Water Forecast EnjoySport
0  Sunny  Warm   Normal  Strong  Warm     Same        Yes
1  Sunny  Warm     High  Strong  Warm     Same        Yes
2  Rainy  Cold     High  Strong  Warm   Change         No
3  Sunny  Warm     High  Strong  Cool   Change        Yes

In [9]:
len(d)

4

In [25]:
def calc_prob(d,y):
    classes= sorted(d[y].unique())
    prior = []
    for i in classes:
        print(i)
        print(d[d[y]==i])
        prior.append(len(d[d[y]==i])/len(d))
        
    return prior

In [26]:
calc_prob(d,"EnjoySport")

No
     Sky  Temp Humidity    Wind Water Forecast EnjoySport
2  Rainy  Cold     High  Strong  Warm   Change         No
Yes
     Sky  Temp Humidity    Wind Water Forecast EnjoySport
0  Sunny  Warm   Normal  Strong  Warm     Same        Yes
1  Sunny  Warm     High  Strong  Warm     Same        Yes
3  Sunny  Warm     High  Strong  Cool   Change        Yes

[0.25, 0.75]

In [27]:
d["Sky"].mean()

TypeError: Could not convert SunnySunnyRainySunny to numeric