In [2]:
import numpy as np
import pandas as pd

In [3]:
d = pd.read_csv("data.csv")

In [4]:
d

     Sky  Temp Humidity    Wind Water Forecast EnjoySport
0  Sunny  Warm   Normal  Strong  Warm     Same        Yes
1  Sunny  Warm     High  Strong  Warm     Same        Yes
2  Rainy  Cold     High  Strong  Warm   Change         No
3  Sunny  Warm     High  Strong  Cool   Change        Yes

In [5]:
da = np.array(d)[::]

In [6]:
da

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 'No'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes']],
      dtype=object)

In [13]:
attr = np.array(d)[:,-1]
attr

array(['Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [14]:
def train(d,at):
    specific_h = d[0].copy()
    general_h = [['?' for i in range(len(specific_h))]for j in range(len(specific_h))]
    
    for i, val in enumerate(d):
        if at[i] == 'Yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                    general_h[x][x] = '?'
        if at[i]=='No':
            for x in range(len(specific_h)): 
                if val[x]!= specific_h[x]:                    
                    general_h[x][x] = specific_h[x]                              
                else:                    
                    general_h[x][x] = '?'
                                       
    ind = [i for i,val in enumerate(general_h) if val == ['?','?','?','?','?','?','?'] ]    
    print(ind)
    for i in general_h:
        general_h.remove(['?','?','?','?','?','?','?'])
    return specific_h,general_h

In [15]:
s_final, g_final = train(da, attr)
s_final

[2, 3, 4, 5]

array(['Sunny', 'Warm', '?', 'Strong', '?', '?', 'Yes'], dtype=object)

In [16]:
g_final

[['Sunny', '?', '?', '?', '?', '?', '?'],
 ['?', 'Warm', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?', 'Yes']]